.footer-content {
    width: 100%;
    display: flex;
}

.footer-content div{
    width: 500px;
}


@media (max-width: 1140px) {
    .footer-content{
        display: none;
    }
    
  }


  @media (min-width: 1140px) {
    .toggle{
        display: none;
    }
    
  }


  .footer-content h3{
    font-size: 18px !important;
    letter-spacing: 0.9;
  }

  .toggle-footer-content h3{
    font-size: 19px !important;
    letter-spacing: 0.9;
  }

  .list-element ul li{
    color: #0d1216 !important;
    font-size: 14px !important;
    margin-bottom: 7px;
  }
